.react-grid-layout {
  background: #fff;
}

.react-grid-item:not(.react-grid-placeholder) {
  background: #eee;
  border: 1px solid rgb(235, 235, 235);
}

.react-grid-item.resizing {
  opacity: 0.9;
}

.react-grid-item.static {
  background: #cce;
}

.react-grid-item .add {
  cursor: pointer;
}

.react-grid-item.react-grid-placeholder {
  background: var(--pf-global--palette--blue-200);
}

#dashboard-card {
  position: relative;
  height: 100%;
  /*
  border: 0.1% solid #D5D5D5;
  */
  background-color: #ffffff;
  border-radius: 0px;
  position: relative;
  width: 100% !important;
  overflow: auto !important;
}

#dashboard-card .dashboard-card-title {
  /*
  display: block;
  background-color: #D5D5D5;
  border-bottom: 0.1mm solid #D5D5D5;
  color: #3A3A3A;
  text-align: left;
  padding-top: 5px;
  padding-left: 15px;
    max-height: 30px;
 color: #333;
  */
  padding: 7px 10px 0px 10px;
  /*
  font-size: 15px;
  font-weight: 600;
  */
 
}

#dashboard-card .dashboard-card-body {
  padding: 10px 10px;
}
