.mc-utilization-panel-item {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  .utilization-chart {
    margin: 2px;
  }

  .gauge-value-timestamp {
    color: var(--pf-global--palette--black-600);
    font-size: 14px;
  }
}
