.rb-selector {
  border-radius: 5px;
  .pf-c-dropdown__menu {
    max-height: 45vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .rb-selector-dropdown {
    display: flex;
    padding: 0px;
  }
  .rb-selector-bookmark {
    padding: 10px;
    padding-right: 5px;
    padding-left: 10px;
    color: darkgray;
    :hover {
      color: gray;
    }
  }
  .rb-selector-item {
    padding: 10px;
    padding-left: 5px;
    font-size: 16px;
  }
  .pf-c-dropdown__toggle {
    color: inherit;
  }
}

.selector-title {
  font-size: 18px;
  margin-right: 5px;
}
