.dashboard-widget {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border-radius: 0px;
  position: relative;
  overflow: auto;
  .dashboard-widget-body {
    padding: 0px 0px;
    .dashboard-widget-title-stick-top {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 100;
    }
    .dashboard-widget-title {
      padding: 5px 0px 5px 10px;
      background-color: #f0f0f0;
      .dashboard-widget-action {
        margin-right: 7px;
        :hover {
          cursor: pointer;
        }
      }
    }
    .dashboard-widget-content {
      padding: 10px 10px;
    }
  }
}
