.mc-rgb-light-panel {
  .component {
    margin: 0px 5px 5px 10px;
    .slider-color-temperature {
      background-image: linear-gradient(to right, #eff, #f81);
      margin-top: 1px;
      margin-bottom: 0px;
      padding-top: 4px;
      padding-bottom: 5px;
      border-radius: 2px;
    }
    .slider-brightness {
      background-image: linear-gradient(to right, #000, #fff);
      margin-top: 1px;
      margin-bottom: 0px;
      padding-top: 4px;
      padding-bottom: 5px;
      border-radius: 2px;
    }
    .slider-saturation {
      margin-top: 5px;
      margin-bottom: 0px;
      border-radius: 2px;
    }
  }
  .field {
    margin-left: 5px;
    margin-right: 3px;
  }
}
