body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
Height 100% fixes navbar menu and page to fit full height
*/
#root {
  height: 100%;
}
/* Workaround for chrome border feature,
https://support.google.com/chrome/thread/48974735?hl=en

input,
button {
  outline: none;
}
*/